{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<textarea id="clog" cols="50" rows="20">{% for message in room.messages.all %}{% if user == message.sender %}                {{message}} / {{message.sender}}
{% else %}{{message}} / {{message.sender}}
{% endif %}
{% endfor %}</textarea>
    <hr>
    <input id="me" type="hidden" value='{{user.username}}'>
    <form id='form' method="POST">
        {% csrf_token %}
        <input id="msg" type="text" size="50">
        <input id="send" type="submit">
    </form>
    <hr>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
        var me = $('#me')
        var clog = $('#clog')
        var msg = $('#msg')
        var form = $('#form')
       
        // Create a new WebSocket
        var ws = new WebSocket('ws://' + window.location.host + window.location.pathname)

        // Send a new message when the WebSocket opens
        ws.onopen = function(self) {
            form.submit(function(self){
                self.preventDefault()
                var path = window.location.pathname.split('/')
                var msg_dict = {'message':msg.val(),'sender':path[3]}
                var data_sent = JSON.stringify(msg_dict)
                ws.send(data_sent)

                form[0].reset()
            })
        }
        // Make it show an alert when a message is received
        ws.onmessage = function(self){ 
            var data_recvd = JSON.parse(self.data)
            // clog.append(data_recvd.message+' / '+data_recvd.sender+'\n'+'\n')

            var sender = data_recvd.sender
            if (me.val() == sender){
                clog.append('                '+data_recvd.message+' / '+data_recvd.sender+'\n\n')
            }
            else{
                clog.append(data_recvd.message+' / '+data_recvd.sender+'\n\n')
            }   
        }
    </script> 
</body>
</html>